body {
    background-color: black;
}

h1 {
    display: inline-block;
    color: dodgerblue;
    text-decoration: underline;
    font-family: sans-serif;
    font-style: italic;
}

.mybutton {
    background: rgb(33,230,226);
    background: linear-gradient(146deg, rgba(33,230,226,1) 0%, rgba(35,98,227,1) 36%, rgba(32,239,240,1) 40%, rgba(29,111,253,1) 67%, rgba(69,252,230,1) 100%);
    color: black;
    border: 0px;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
}

.mybutton:hover {
    background: red;
}


.container {
    padding: 10px;
    background-color: blueviolet;
    width: 500px;
    height: 150px;
}

.box {
    display: inline-block;
    margin: 5px;
    background-color: orangered;
    width: 75px;
    height: 75px;
}